.card:hover{
    box-shadow: 5px 10px 10px rgba(255, 0, 0, 0.5);
  }

.card{
    
    background-color: #fff;
    border: 2px solid #ccc;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
}
.cart-img {
    height: 150px;
    width : 200px

}