.title h3{
    color :#832729;
    margin-top: 5%;
    font-style: italic;
    text-decoration: underline;
}
.product{
    background-color: antiquewhite;
    width : 800px;
    
  
}
.product-details{
    margin: 50px;
    padding: 10px;
    display: flex;
}
.product-content{
    margin-left: 150px;
}